.button {
  border-radius: $border-radius;
  font-family: $font;
  border: none;
  background: transparent;
  font-size: 20px;
  background: $bg-color;
  padding: 12px 30px;
  color: $btn-text;
  transition: background .2s ease-out;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus,
  &:hover {
    background: $btn-bg-hover;
    color: $btn-text;
  }

  &:active {
    background: $btn-bg-active;
    color: $btn-text;
  }

  &._delete {
    background: $btn-bg-red;

    &:focus,
    &:hover {
      background: $btn-bg-red-hover;
      color: $btn-text;
    }

    &:active {
      background: $btn-bg-red-active;
      color: $btn-text;
    }
  }
}
