.button {
  border-radius: $border-radius;
  font-family: $font;
  border: none;
  background: transparent;
  font-size: 20px;
  background: $main-color;
  padding: 12px 30px;
  color: $btn-text;
  transition: background .2s ease-out;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus,
  &:hover {
    background: $btn-bg-hover;
    color: $btn-text;
  }

  &:active {
    background: $btn-bg-active;
    color: $btn-text;
  }

  &._danger {
    background: $btn-bg-danger;

    &:focus,
    &:hover {
      background: $btn-bg-danger-hover;
      color: $btn-text;
    }

    &:active {
      background: $btn-bg-danger-active;
      color: $btn-text;
    }
  }

  &._ghost {
    background: transparent;
    border: 1px solid $btn-bg-ghost;
    color: $btn-bg-ghost;
    transition: border-color .2s ease-out, color .2s ease-out;
    padding: 11px 29px;

    &:focus,
    &:hover {
      border-color: $btn-bg-ghost-hover;
      color: $btn-bg-ghost-hover;
    }

    &:active {
      border-color: $btn-bg-ghost-active;
      color: $btn-bg-ghost-active;
    }
  }
}
