.app-wrapper {
  margin-top: 100px;
  min-width: 320px;
}

body {
  font-family: $font;
  font-size: 16px;
  color: $text-color;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.notification:before {
  content: none;
}
