
.form-item {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__input {
    font-size: 17px;
    height: 24px;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 2px;
    box-shadow: none;
    border: 1px solid #898686;
  }
}


