.close-button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 0;
  transition: opacity .2s ease-out;
  color: $button-close-color;

  &:focus,
  &:hover {
    color: $button-close-hover-color;
    opacity: .9;
  }

  &:active {
    color: $button-close-active-color;
    opacity: .7;
  }
}
