// defaults
$bg-color: #1BA098;
$box-shadow: 0 0 8px rgba(0, 0, 0, .2);
$box-shadow-hover: 0 0 22px rgba(0, 0, 0, .2);
$border-radius: 4px;

// buttons
$btn-text: #fff;
$btn-bg: #1BA098;
$btn-bg-hover: darken( $btn-bg, 7%);
$btn-bg-active: darken( $btn-bg, 18%);

$btn-close-color: #3e3e3e;
$btn-close-hover: darken( $btn-close-color, 10% );
$btn-close-active: darken( $btn-close-color, 30% );


// to make color lighter
//lighten( $base-color, 10% );

// modals
$overlay-color: rgba(0, 0, 0, .5);

// fonts
$font: "Roboto", "Helvetica", "Arial", sans-serif;
$text-color: #051622;



