aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
boto3==1.15.10
botocore==1.18.10
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.1
django-rest-framework==0.1.0
django-storages==1.10.1
django-templated-mail==1.1.1
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
djoser==2.0.5
dropbox==10.4.1
google-api-core==1.22.2
google-auth==1.22.0
google-cloud-core==1.4.1
google-cloud-storage==1.31.2
google-crc32c==1.0.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
gunicorn==20.0.4
idna==2.10
idna-ssl==1.1.0
jmespath==0.10.0
multidict==4.7.6
Pillow==7.2.0
protobuf==3.13.0
psycopg2==2.7.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
typing-extensions==3.7.4.3
urllib3==1.25.10
whitenoise==5.2.0
yarl==1.6.0
