.orders-list-page {
  padding-top: 20px;

  &__list {
    &-item {
      border-radius: $border-radius;
      margin-bottom: 30px;
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;

      &-link {
        color: $main-color;
      }

      &-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
      }
    }
  }
}
