.button {
  font-family: $font;
  border: none;
  background: transparent;
  font-size: 20px;
  box-shadow: $box-shadow;
  background: $bg-color;
  padding: 8px 30px;
  color: $button-text-color;
  transition: opacity .2s ease-out;

  &:focus,
  &:hover {
    color: $button-text-color;
    opacity: .9;
  }

  &:active {
    color: $button-text-color;
    opacity: .7;
  }
}
