.sign-in {
  width: 100%;

  &__top {
    font-size: 22px;
    padding-bottom: 20px;
    text-align: center;
  }

  &__form {
    width: 100%;
  }

  &__input {
    width: 100%;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }
}
