.top-bar {
  width: 100%;
  background: $main-color;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  min-width: 320px;

  &__logo {
    width: 100px;
    color: #fff;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition: opacity .2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: .8;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &-btn {
      border: none;
      background: transparent;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
    }

    &-dropdown {
      box-shadow: $box-shadow;
      background: #fff;
      position: absolute;
      top: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-top: 8px;
      padding-bottom: 8px;

      &-link {
        transition: background-color 0.2s ease-in-out;
        width: 100%;
        color: $main-color;
        padding: 12px 35px;
        text-align: left;
        font-size: 18px;
        text-decoration: none;

        &:focus,
        &:hover {
          background: #eee;
        }

        &:active {
          background: #ddd;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    margin: 0 10px 0 15px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
  }

  &__wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
